:root {
  color-scheme: dark light;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px solid lime; */
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu,
    Cantarell, 'Helvetica Neue', sans-serif;
  font-size: 20px;
}

a {
  color: rgb(0, 100, 200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  cursor: pointer;
}

select {
  padding: 0.25rem;
}

.wrapper {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  gap: 1.5rem;
  width: min(100% - 1.5rem, 80%);
  max-width: 48em;
  margin-inline: auto;
  padding-block: 3rem;
  text-align: center;
}

.input-group {
  display: grid;
  gap: 0.25rem;
  text-align: left;
  font-size: 16px;
}

.icon {
  display: grid;
  place-items: center;
  line-height: 0;
  aspect-ratio: 1;
  padding: 0.125em;
  background-color: white;
  border-radius: 50%;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
